<template>
  <div class="d-none d-md-block">
    <GmapMap
      :center="{lat:32.514885, lng:-94.737236}"
      :zoom="3"
      map-type-id="roadmap"
      style="width: 350px; height: 115px"
      :options='{
        disableDefaultUI:true,
        scaleControl:true
      }'
    >
      <GmapMarker
        :position="{lat:32.514885, lng:-94.737236}"
        :clickable="true"
        :draggable="true"
      />
    </GmapMap>
  </div>
</template>
