<template>
  <b-container id="about" fluid>
    <h3>
      <b-row no-gutters align-v="center" cols="3">
        <b-col cols="1">
          <font-awesome-icon icon="user-astronaut" size="xs" />
        </b-col>
        <b-col class="pt-1">
          <span>
            About
          </span>
        </b-col>
      </b-row>
    </h3>
    <b-card-text class="mt-1 ml-4 pl-2 pt-4">
      Software Engineer with a MS in Computer Science and BS in Mining Engineering.  Experience in UI development, software engineering, embedded controls, devops, and web/full stack development.  Recent projects include modifying and creating embedded software, report automation, passive voice biometrics, business analytics and full stack development of a web based messaging and video calling product.  Professional Engineer (Inactive), proficient in engineering documentation and design, data analysis for equipment and production issues, and productivity optimization. Additional skills include creative design and analysis for sequencing, reserve optimization, project execution and management, mine equipment optimization, and reclamation planning.
    </b-card-text>
      <b-container class="mt-4 ml-4 pl-4">
        <b-row>
          <b-col class="align-self-center">
            <b-row>
                <span class="font-weight-bold pr-2">Email</span>
                <span class="text-muted font-italic">will@loblollysoftware.com</span>
            </b-row>
            <b-row>
                <span class="font-weight-bold pr-2">Phone</span>
                <span class="text-muted font-italic">(903) 987-5914</span>
            </b-row>
            <b-row>
                <span class="font-weight-bold pr-2">Location</span>
                <span class="text-muted font-italic">New York, New York, US</span>
            </b-row>
            <b-row >
              <div class="icons pt-2">
              <a class="text-dark mr-3" href="https://www.linkedin.com/in/willmacintyre" ><font-awesome-icon :icon="['fab', 'linkedin-in']"/></a>
              <a class="text-dark mr-3" href="https://www.gitlab.com/willmac321"><font-awesome-icon :icon="['fab', 'gitlab']"/></a>
              <a class="text-dark mr-3" href="https://www.github.com/willmac321"><font-awesome-icon :icon="['fab', 'github']"/></a>
              </div>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
  </b-container>
</template>

<style>
#about {
}

.head {
  padding-left: 10px
}
.icons {
  display: flex;
}
</style>
