<template>
  <div class="footer" id="footer" style="">
    <b-jumbotron fluid class="bg-transparent" style="marginBottom: 0px;">
      <p class="text-muted" id="foottext" style="marginLeft: 8px;">Made by Loblolly Software LLC</p>
    </b-jumbotron>
  </div>
</template>

<style>
.footer {
  background-image: url('../assets/swampbanner.jpg');
  background-size: cover;
}
</style>
