<template>
  <div id="top" class="m-0">
    <b-jumbotron fluid class="jumbo mt-0">
      <h2 class="text-light mb-2">Loblolly Software LLC</h2>
    </b-jumbotron>
  </div>
</template>

<style scoped>
.jumbo {
  background-image: url('../assets/swampbanneredited.jpg');
  background-size: cover;
}
</style>
