<template>
  <div id="top-privacy" class="m-0">
    <b-jumbotron fluid class="jumbo mt-0">
      <h2 class="text-light mb-2">Loblolly Software LLC</h2>
    </b-jumbotron>
  </div>
</template>

<style scoped>
.jumbo {
  background-image: url('../assets/swampbanneredited.jpg');
  background-size: cover;
  height: 16px;
  margin-bottom: 0;
}

#top-privacy::before {
  height: auto;
  display:unset;
}
</style>
